@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

body {
  font-family: "Lato", sans-serif;
}
.container {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.choice {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
  text-decoration: none;
  height: 50px;
  text-align: left;
  border: solid rgba(218, 161, 18, 0.76) 1px;
  justify-content: center;
  padding-left: 15px;
  border-radius: 5px;
  background-color: rgba(218, 161, 18, 0.76);
  color: black;
}

.choice:hover {
  font-weight: 600;
  opacity: 0.5;
}

.modal-title {
  text-align: center;
}

.form-group {
  margin-bottom: 10px;
}

.btn-close {
  background: none;
  border: none;
  color: black;
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 16px;
  cursor: pointer;
}

.btn-close:hover {
  color: red;
  transform: scale(0.98);
}

.venmo :nth-child(1) {
  color: #008cff;
  height: 75px;
  width: 75px;
}
